# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.production

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Uploads (sauf structure)
uploads/**/*
!uploads/.gitkeep
!uploads/avatars/.gitkeep
!uploads/products/.gitkeep
!uploads/equipments/.gitkeep
!uploads/documents/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Build
dist/
build/
